<h1>Products</h1>
<div class="col-md-6 col-md-offset-3">
	<table class="table">
		<thead>
			<tr>
				<th>Order_Ids</th>
				<th>Title</th>
				<th>Quantity</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<% order.lineitems.each do |item| %>
					<tr>
						<td><%= order.id %></td>
					
						<td><%= item.product.title %></td>
					
						<td><%= item.quantity %> </td>
					</tr>
					
					<% end %>
			<% end %>
		</tbody>
	</table>
</div>


<%= link_to "Back to Products", root_path %>
