<h1>Products</h1>
<div class="col-md-6 col-md-offset-3">
	<table class="table">
		<thead>
			<tr>
				<th>Order_Ids</th>
				<th>Tittle</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.id %></td>
					<td><%= order.lineitems %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<%= link_to "Back to Products", root_path %>
